{
    "intents": 0,

    "shardAmount": 1,

    "owners": [],

    "devGuilds": [],

    "dmChannel": "",

    "alertsLogChannel": "",

    "guildsLogChannel": "",

    "serversCountChannel": "",
    
    "membersCountChannel": "",

    "baseColor": "#FF0000",

    "urls": {
        "botServerInvite": "",
        "botRepoUrl": ""
    }
}